
body{
    background-color: black;
    color: white;
}
#all{
    border: 4px solid #fff;
    border-radius: 20px;
    width: 70%;
}
input{
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    color: white;
}
.butt{
    background-color:#0000;
     color:#ffff;
     border:1px solid #fff;
     border-radius: 10px;
}
.buttons{
    font-size: 150%;
 
 
   
}
.inpu{
    height: 40px;
}
#buttsubmit{
    background-color:#C53034;
    color:#ffff;
    position: absolute;
    top: 65%;
    left: 30%;
    height: 6%;
    width: 7%;
    font-weight: bold;
}
input[type=radio]{
    background-color: black;
    border: 1px solid #fff;
}