body{
    background-color: black;
}
.navbar{
    background-color: white;

}
.linenav{
    height: 50px;
    width: 2px;
    background-color: rgb(87, 85, 85);
}
.lineleft{
    height: 2px;
    width: 90px;
    background-color: rgb(87, 85, 85);
}
#left{
    background-color: white;
    border-radius: 10px;
    width: 150px;
}
#right{
    background-color: white;
    border-radius: 10px;
}
/* profile page */
#all{
    background-color: black;
}
#name{
    border-radius: 10px;
    background-color: #D9D9D9;
    height: 50px;
}
.lineprofile{
    height: 100%;
    width: 90px;
    background-color: rgb(87, 85, 85);
}
#logout{
    background-color: #C53034;
    color: white;
}
a:link{
    text-decoration-color: black;
    text-decoration: none ;
    
}