<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="coaching.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <title>B&ATraining</title>
</head>

<body>
    <header>
        <!-- nav -->
        <nav class="navbar" style="color:black ;">
            <div class="container">
                <a class="navbar-brand" href="home.html">
                    <img src="../images/Group 16.png" alt="" width="70" height="60">
                </a>
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="coaching.php">Coaching</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Programme de regime</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Formation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Team</a>
                    </li>
                    <li class="nav-item">
                        <button id="login"><a href="../auth/login.php">Login</a></button>
                    </li>
                    <li>
                        <button><a class="nav-link" href="../auth/registration.php"> register</a></button>
                    </li>

                    <li>
                        <button><a class="nav-link" href="../admin/navadmine.php"> Admin</a></button>
                    </li>

                </ul>
            </div>

        </nav>
        

        <!-- header2 -->
        <div class="header2">
            <img class="headerimg" src="../images/image 4.png" alt="">
            <h1 id="h1header">WELCOME TO B&ATraining</h1>
            <h5 id="h3header">CrossFit has been Forging Elite Fitness™ since 2001 and can be used to accomplish any
                goal, from improved <br> health to better performance. The program works for everyone — people who have
                never worked out and those who have trained for years share equally in the benefits of CrossFit.</h5>
        </div>
    </header>
    <!-- section 1 -->
    <section class="first"><br>
        <div class="container">
            <div class="hrr"></div><br><br>
            <h1 style="color: #E12E2E; text-align: center; font-weight: bold;">WHY B&ATraning</h1>
            <div class="d-flex">
                <div class="p-2 flex-fill"><br>
                    blblbllbblbblblbbbblblblblblblblbbrlbllbllbblblbllbllbbl
                    <br>blbalbalbalbalblblblblbbllbllbllbblblbllbllbbl
                    <br>kblblblblbblblbbbllbllbllbblblbllbllbbl
                    <br>blbllbllbbl lbllbllbblblbllbllbbl
                    <br>blbllbllbbllbllbllbblblbllbllbbl
                    <br>blbllbllbbllbllbllbblblbllbllbbl
                    <br>blbllbllbblblbllbllbbl
                </div>
                <div class="p-2 flex-fill">
                    <img src="" alt="">

                </div>
            </div>
        </div>
    </section> <br><br><br>
    <section class="container">
        <div class="hrr"></div><br><br>
        <h1>OUR SERVICES</h1>
        <div class="d-flex">
            <div class="p-2 flex-fill">
                <img src="../images/Group 13.png" alt="">
            </div>
            <div class="p-2 flex-fill">
                <img src="../images/Group 12.png" alt="">

            </div>
        </div>
        <div>
            <img src="../images/Group 14.png" alt="">
        </div>

    </section>
    <section class="container">
        <br><br>
        <div class="hrr"></div><br><br>
        <div class="rectangle2">
            <h1>HOW IT WORKS?</h1>
        </div>
        <div id="how" class="d-flex"><br>
            <div id="b" class="b p-2 flex-fill">
                <h1>1</h1>
                <h5>do a full review with your coach</h5>

            </div>
            <div class="b p-2 flex-fill">
                <h1>2</h1>
                <h5>target your goal together</h5>

            </div>
            <div class="b p-2 flex-fill">
                <h1>3</h1>
                <h5></h5>

            </div>
            <div class="b p-2 flex-fill">
                <h1>4</h1>
                <h5>your private teacher <br> accmpanies you throughout <br> your program</h5>

            </div>

        </div><br><br>
        <div class="hrr"></div><br><br>
    </section>










    <!-- footer -->
    <footer>
        <div class='d-flex'>
            <ul class="p-2 flex-fill">
                <li>coaching personel</li>
                <li>plan de regim </li>
                <li>formation</li>
            </ul>
            <ul class="p-2 flex-fill">
                <li>insta</li>
                <li>fb</li>
                <li>gmail</li>
                <li>numero de telephone</li>
            </ul>
            <ul class="p-2 flex-fill">
                <li>Mon 9h-7h</li>
                <li>Tue 9h-7h</li>
                <li>thur 9h-7h</li>
                <li>wed 9h-7h</li>
                <li>friday 9h-7h</li>

            </ul>
        </div>
        <div class="container" style="background-color: gba(217, 217, 217, 0.22) ;">
            <p style="text-align:center;">copyright 97979</p>
        </div>
    </footer>
</body>

</html>